*.py[cod]

# C extensions
*.so

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
lib
lib64

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
cover
nosetests.xml
.cache
htmlcov/

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject

# Other
.idea
webstruct_data/datastore
.ipynb_checkpoints
docs/_build
webstruct_data/todo
notebooks/old
notebooks/*.zip
notebooks/*.html
notebooks/*.ipynb
notebooks/*.marisa
notebooks/*.wapiti
notebooks/*.crfsuite
webstruct_data/corpus/random_pages/wa/*.html
webstruct_data/corpus/us_contact_pages/cleaned