nose
lxml
scikit-learn
-e https://github.com/adsva/python-wapiti.git@0e22f2d53c1d42dba6fb45144ff656cf39420c7e#egg=python-wapiti
-e https://github.com/larsmans/seqlearn.git@62a4390f54c2063a60262f8640ed975446f5fa57#egg=seqlearn
